/* Skills Main Container */
.skills-main-container {
    padding: 32px;
    border-radius: 8px;
}

/* Main Title */
.main-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 32px;
}
